/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/led/led.h>

&blackpill_i2c {
	status = "okay";

	oled: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		label = "DISPLAY";
		width = <128>;
		height = <32>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <31>;
		com-sequential;
		prechargep = <0x22>;
	};
};


&blackpill_spi {
    status = "okay";
    
    cs-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
    
    trackpad@0 {
        compatible = "cirque,pinnacle";
        status = "okay";
        reg = <0>;
        spi-max-frequency = <10000000>;
        dr-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
        invert-x;
        sleep;
        /* no-taps; */
        label = "Cirque Trackpad";
    };
};

&blackpill_rgb {
	status = "okay";
    
	mosi-pin = <2>;
    
	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		label = "WS2812";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <4000000>;

		/* WS2812 */
		chain-length = <3>; /* number of LEDs */
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;

		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
	};
};

/ {
	chosen {
		zmk,underglow = &led_strip;
        zephyr,display = &oled;
	};
};